<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIfv7U_xq84Z0S-gPPR7uOtRS3UbBJeTM</string>
	<key>GCM_SENDER_ID</key>
	<string>521943459848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluxcode.streetgraf</string>
	<key>PROJECT_ID</key>
	<string>streetgraf-93f1a</string>
	<key>STORAGE_BUCKET</key>
	<string>streetgraf-93f1a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521943459848:ios:5f006891bf2e6ca87fc9bd</string>
</dict>
</plist>